.cart-page {
	display: grid;
	grid-template-columns: 2fr 1fr;
	padding-top: 5rem;
}

.cart-products {
	width: 100%;

	display: flex;
	flex-flow: column;

	justify-items: center;
	align-items: center;

	gap: 2rem;
}
