#root {
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;

  background-color: var(--bg-primary);
  color: var(--text-primary);

  font-family:
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Avenir",
    "Helvetica",
    "Arial",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: var(--text-accent);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--text-accent-hover);
}

button {
  font-family: inherit;
  background-color: var(--bg-accent);
  color: var(--text-light);
}

button:hover {
  background-color: var(--bg-accent-hover);
}

button:active {
  background-color: var(--bg-accent-active);
}
