.layout {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;

  box-sizing: border-box;

  display: grid;

  grid-template-rows: 4rem auto auto;

  row-gap: 3rem;
  min-height: 100vh;
}

.layout > .footer {
  align-self: flex-end;
}
