.product-page {
  display: flex;
  align-items: center;
  /* justify-items: center; */
  gap: 2rem;
  flex-direction: column;

  width: 100%;
}

.product {
  display: grid;

  max-height: 100rem;
  max-width: 30rem;

  align-items: center;
  align-items: start;

  background-color: white;

  padding: 2rem;

  column-gap: 0.5rem;
  row-gap: 0.5rem;

  grid-template-rows: 2rem 20rem 3rem auto;
  grid-template-columns: 1fr 1fr;

  grid-template-areas:
    "title title"
    "image image"
    "rating price"
    "desc desc";
}

.product-title {
  font-size: 1.2rem;
  color: black;

  grid-area: title;
  align-self: center;

  padding: 0.5rem;
}

.product-image {
  height: 100%;
  width: 100%;
  background-color: white;
  overflow: hidden;

  grid-area: image;
}

.product-image img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.product-description {
  grid-area: desc;
  font-size: 1rem;
  padding: 1rem;
  color: #666;
}

.product-rating {
  grid-area: rating;
  color: black;
  font-size: 1.2rem;
  align-self: center;
}

.product-price {
  font-size: 1.5rem;
  color: red;
  grid-area: price;
  align-self: center;
}
