.container {
  display: grid;

  align-items: center;
  justify-items: center;

  max-width: 30rem;

  background-color: var(--bg-secondary);
  padding: 1rem;

  column-gap: 0.5rem;
  row-gap: 1.5rem;

  grid-template-columns: 1fr 1fr 0.5fr;

  grid-template-areas:
    "title title category"
    "image image image"
    "rating price price"
    "buy buy like"
    "desc desc desc";

  position: relative;

  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.1),
    0 2px 4px rgba(0, 0, 0, 0.05);

  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
}

.title {
  font-size: 1.2rem;

  font-weight: bold;

  grid-area: title;
  align-self: center;
}

.category {
  font-size: 1rem;

  font-style: italic;

  grid-area: category;
  align-self: center;

  padding: 0.5rem;
}

.image {
  height: 100%;
  width: 100%;
  overflow: hidden;

  grid-area: image;
}

.image img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.description {
  grid-area: desc;
  font-size: 1rem;
  padding: 1rem;
  color: var(--text-secondary);
}

.rating {
  grid-area: rating;

  display: flex;

  color: var(--text-primary);

  font-size: 1.2rem;
  align-self: center;
}

.price {
  font-size: 1.5rem;
  color: var(--text-red);
  grid-area: price;
  align-self: center;
}

.buyBtn {
  grid-area: buy;
  min-width: 8rem;

  justify-self: center;
}

.likeBtn {
  grid-area: like;
}

.star {
  width: 0.8rem;
  height: 0.8rem;

  display: inline-block;

  object-fit: contain;
}
