.like {
  grid-area: 1 / 5 / 2 / 6;
  width: 1.2rem;
  height: 1.2rem;

  justify-self: right;
  align-self: flex-start;

  object-fit: contain;

  cursor: pointer;

  transition: fill 0.2s ease;
}

.like:hover {
  transform: scale(1.1);
}

.notLiked {
  composes: like;

  path {
    fill: white;
    stroke: black;
  }

  &:hover path {
    fill: #e57373;
    stroke: black;
  }
}

.liked {
  composes: like;

  path {
    fill: #e57373;
    stroke: none;
  }

  &:hover path {
    fill: #e57373;
    stroke: black;
  }
}
