.productList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  justify-items: stretch;

  width: 100%;
  gap: 2rem;
}

@media (min-width: 400px) {
  .productList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 600px) {
  .productList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1000px) {
  .productList {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1280px) {
  .productList {
    grid-template-columns: repeat(5, 1fr);
  }
}
